[Unit]
Description=My Web Application Service
After=network.target

[Service]
User=csye6225
Group=csye6225
WorkingDirectory=/opt/webapp

# Directly set the NODE_ENV and PORT environment variables
Environment=NODE_ENV=production
ExecStart=/usr/bin/node /opt/webapp/index.js
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target